h1 {
  margin: 1em 0;
}

.no-transition * {
  transition: all 0.1s ease-in-out;
}

.container {
  max-width: 700px;
}

.super-large {
  /* yeah, quick and dirty */
  transform: scale(2.5);
  transform-origin: left top;
}

@media only screen and (max-device-width: 550px) {

    .super-large {
      transform: scale(1.5);
    }

}

#logo {
  margin-top: 1em;
}
